header {
    background: #000000e6;
    position: fixed;
    width: 100%;
    // margin-top: -16px;
    border-top: 5px solid #c0a964;
    z-index: 999;
}

h1 {
    padding: 12px;
    display: flex;
    justify-content: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #bf9b30;
}

@media screen and (min-width: 769px) {

//----------LINK STYLES

    header .container nav .nav-container a:link {
        color: #cccccc;
    }

    header .container nav .nav-container a:visited {
        color: #cccccc;
    }

    header a:after {
        display:block;
        content: '';
        border-bottom: solid 1px #bf9b30;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }

    .fx-hov:hover:after {
        transition-delay:150ms;
    }
        
    header a:hover:after { 
        transform: scaleX(1); 
    }

    header .container nav .nav-container a:hover {
        color: #bf9b30;
        transition: ease-in-out 0.5s;
    }

    header .container nav .nav-container a:active {
        color: #c0a964;
    }

    header nav img {
        float: none;
    }

    .list {
        list-style: none;
        padding-left: 0;
    }
    
    .list li {
        display: inline-block;
        padding-left: 48px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        color: #ffffff;
        letter-spacing: 0;
        line-height: 28px;
    }

    .mainLogo {
        width: 36px;
    }

    // header {
    //     padding: 22px 50px 120px 50px;
    // }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .container nav .nav-container input {
        display: none;
        }

    header .container nav .nav-container span {
        display: none;
        }

    .logo-container {
        margin-left: 5vw;
    }

    .nav-container {
        margin-right: 5vw;
    }

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}